.bhd-card{
  width: 192px;
  height: 270px;
  border-radius: 24px;
  background-image:
  radial-gradient(circle farthest-corner at 150px 40px, rgb(73,183,66) 0%, rgb(97,192,90) 70%, rgb(73,183,66) 70%);

}

.card-number{
  color: #ffffff;
  font-size: 16px;
  margin-top: 10px;
}

.bhd-card-logo{
  width: 29px;
  height: 29px;
  margin-left: 20px;
  margin-top: 10px;
}

.cantidad-tarjeta-dop{
  color: #ffffff;
  font-size: 16px;
  margin-top: 45px;
}

.cantidad-tarjeta-dop-decimal{
  font-size: 12px;
}

.cantidad-tarjeta-usd{
  color: #ffffff;
  font-size: 16px;

}

.cantidad-tarjeta-usd-decimal{
  font-size: 12px;
}

.bhd-card-mastercard-visa-logo{
  width: 25px;
  height: 25px;
  margin-top: 45px;
  margin-left: 14px;
}
