<ion-content fullscreen>
  <div class="background-app">
    <ion-tabs>
      <div class="bhd-tabs-footer">
        <ion-grid fixed>
          <ion-row>
            <ion-col class="footer-tab-icon" size="4">
              <ion-tab-button tab="dash">
                <ion-icon
                  class="footer-tab-button"
                  name="apps-outline"
                ></ion-icon>
              </ion-tab-button>
            </ion-col>

            <ion-col class="footer-tab-icon" size="4">
              <ion-tab-button tab="transaction">
                <ion-icon
                  class="footer-tab-button"
                  name="swap-vertical-outline"
                ></ion-icon>
              </ion-tab-button>
            </ion-col>

            <ion-col class="footer-tab-icon" size="4">
              <ion-tab-button tab="config">
                <ion-icon
                  class="footer-tab-button"
                  name="settings-outline"
                ></ion-icon>

              </ion-tab-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-tabs>
  </div>
</ion-content>
