<ion-slides [options]="slideOpt">
  <ion-slide>
    <div class="bhd-card">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <img class="bhd-card-logo"
            src="../../../../assets/logos_bhd/imagotipo_white.svg">
          </ion-col>
          <ion-col size="6">
           <p class="card-number">
             **** 1234
           </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <p class="cantidad-tarjeta-dop">RD$ 100,000<span class="cantidad-tarjeta-dop-decimal">.00</span></p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <p class="cantidad-tarjeta-usd">US$ 100,000<span class="cantidad-tarjeta-usd-decimal">.00</span></p>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <img class="bhd-card-mastercard-visa-logo"
            src="../../../../assets/mastercard.svg">
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </ion-slide>
</ion-slides>
