.bhd-logo-sidebar-container {
  border-bottom: 1px solid rgba(204, 204, 204, 0.6);
}

.bhd-logo-sidebar {
  margin-top: 21px;
  margin-bottom: 22.5px;
}

.bhd-sidebar {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

.sidebar-menu-items{
  margin-top: 272.5px;

}

