<div class="background-app">
  <div class="bhd-toolbar">
    <h3 class="bhd-title">{{getPageTitle()}}</h3>
  </div>

<ion-grid fixed>
  <ion-row class="bhd-container-margin-mis-tarjetas">
    <ion-col size="12">
      <ion-label class="bhd-mis-tarjetas-title">Mis tarjetas</ion-label>
    </ion-col>
  </ion-row>

  <app-card></app-card>

  <ion-row class="bhd-container-margin-transacciones">
    <ion-col size="12">
      <ion-label class="bhd-mis-tarjetas-title">Transacciones</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="bhd-transaccion">
    <ion-col size="2">
      <div class="deb-cred-indicador">
        <ion-icon slot="start" name="add"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="5">
      <ion-label class="bhd-informacion-transaccion">Pago en tienda</ion-label
      ><br />
      <ion-label class="bhd-fecha-transaccion">Mes, 00</ion-label>
    </ion-col>
    <ion-col class="monto-transaccion-container" size="4">
      <strong><ion-label class="monto-transaccion">RD$ 10,000</ion-label></strong>
      <strong><ion-label class="decimal-transaccion">.00</ion-label></strong>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
